# Source
src/

# Build artifacts
android/build/
android/.gradle/
android/local.properties

# iOS build artifacts
ios/build/
ios/Pods/
ios/*.xcworkspace
ios/*.xcuserdata

# Config
tsconfig.json
tsup.config.ts

# Misc
node_modules/
*.map
.env
.DS_Store